body{
    background-color: hsl(212, 45%, 89%);
    
}
/*
                OLGA hi :)
fix margins / padding on container & fix sizing of img (.container img) 
*/

.container{
padding: 10px 0;
text-align: center;
margin: 10% 40%;
border-radius: 10px;
background: hsl(0, 0%, 100%);
}

.container img{
    border-radius: 10px;
    width: 100%;
}

.img-text {
    margin: auto;
    display:flex;
    flex-direction: column;
    padding: auto;

}

.img-text p {
    font-size: 15px;
    font-family:'Outfit', sans-serif;
    font-weight: 400;
}

.img-text h5 {
    font-weight: 700;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
