* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8AAAE5;

}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {

    padding: 10px 0;
    text-align: center;
    margin: 0% 41%;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}


.container img {
    border-radius: 15px;
    width: 92%;
}

.img-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: auto;

}

.img-text p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.img-text h4 {
    font-weight: 700;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}