body{
    background-color: antiquewhite;
    
}

.container{
padding: 10px 0;
text-align: center;
margin: 10% 40%;
border-radius: 10px;
background: aliceblue;
width: auto;
height: auto;
}

.container img{
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 10px;
    
}

.img-text {
    margin: 10% 10%;
}

.img-text p {
    font-size: 15px;
    font-family:'Outfit', sans-serif;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}